/* CalcPi styles */

.form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-break: break-all;
    background-color: #f5f5f8;
    .result-container {
        margin-top: 10px; /* Adjust the margin as needed */
        border: 1px solid #ccc;
        padding: 10px;
        word-break: break-all; /* Break words if they exceed the container width */
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #735987;
}

.form-group button {
    background-color: #9685a1;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #735987;
}
